*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    width: 100%;
    height: 120px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}
.navbar ul {
    list-style: none;
    display: flex;
    margin-right: 450px;
}
.navbar ul li{
    padding: 10px;
}
.navbar ul li a {
    text-decoration: none;
    color: white;
}
.logo {
    margin-right: 450px;

}

